html,
body {
    height: 100%;
    width: 100%;
}

.btn {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}

.row {
    margin: 8px 0;
}

.row input {
    margin: 0;
    padding: 6px 0px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 19px;
    width: 18rem;

}